PORT=5000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:Harsh@111@localhost:5432/adscale_erp?schema=public"

JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="7d"

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="your_email@gmail.com"
EMAIL_PASS="your_app_password"
EMAIL_FROM="AdScale One ERP <no-reply@adscale.com>"
OTP_EXPIRES_MINUTES=10